@import "../App/App.scss";

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.LandingP{
  
  width: 100%;
  
  &__Hero{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    &--image{
      display: flex;
      align-items: center;
      position: absolute;
      height: 500px;
      width: 1200px;
      background-image: url(../App/../../Images/space.jpg);
      background-size: cover;
      z-index: -1;
      &-img{
        position: absolute;
        right: 190px;
        width: 200px;
        height: 400px;
        background-image: url(../App/../../Images/rocketdy.gif);
        background-size: contain;
        background-repeat: no-repeat;
        animation: rotation 10s infinite linear;

        z-index: 20;
      }

    }
    &__RoadMap{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 5vw;
      border-radius: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      justify-content: flex-end;
      height: 70%;
      width: 600px;
      background-color: $lightGrey;

      &-title{
        font-size: 3rem;
        text-align: left;
        width: 90%;
      }
      &-title2{
        font-size: 2rem;
        text-align: left;
        width: 90%;

      }
      &__cont{
        display: flex;
        height: 50%;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        & img{
          max-height:100% ;
          border-bottom-right-radius: 20px;
        }
      }

    }


  }

  &__Intro{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 400px;
    align-items: center;
    &__ImgCont{
      width: 45%;
      height: 90%;
      & img{
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
    &__Paragraph{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 2rem;
      width: 45%;
      height: 90%;
      & p{
      font-style: italic;
        font-size: 1.5rem;
      }
    }
  }

  &__Slider{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    width: 100%;
    overflow-x: hidden;
    height: 300px;
  
  }
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  .LandingP{
  
    width: 100%;
    
    &__Hero{
      justify-content: center;
      max-width: 100%;
      width: 100vw;
      &--image{
        max-width: 100%;
        
      &-img{
      display: none;
      }
      }
      &__RoadMap{
        margin-left: 0;
        &-title{
          font-size: 2.5rem;

        }
        &-title2{
          font-size: 2rem;

        }
      }
    }
    
  }
}

@media only screen and (max-width: 650px) {
  .LandingP{
    &__Hero{
      justify-content: center;
      max-width: 100%;
      width: 100vw;
      &--image{
        max-width: 100%;
        
      &-img{
      display: none;
      }
      }
      &__RoadMap{
        margin-left: 0;
      }
      &__RoadMap{
        &-title{
          font-size: 1.5rem;

        }
        &-title2{
          font-size: 1rem;

        }
      }
       
    }
    &__Intro{
      flex-direction: column;
      height: auto;

      &__ImgCont{
        width: 70%;

        & img{

        }
      }
      &__Paragraph{
        width: 90%;

        font-size: 1rem;

        & p{

          font-size: 1rem;
        }
      }
    }
  }
}